# -- Supplied via GitHub Actions workflow inputs -------------------------------
# aws_region   -> workflow input
# environment  -> workflow input

# -- General ------------------------------------------------------------------
app_name = "buddy360"

# -- Networking ---------------------------------------------------------------
vpc_cidr              = "10.0.0.0/16"
public_subnet_1_cidr  = "10.0.1.0/24"
public_subnet_2_cidr  = "10.0.2.0/24"
private_subnet_1_cidr = "10.0.3.0/24"
private_subnet_2_cidr = "10.0.4.0/24"

# -- RDS ----------------------------------------------------------------------
db_identifier          = "buddy360-app"
db_name                = "buddy360"
db_username            = "postgres"
db_instance_class      = "db.t3.micro"
db_allocated_storage   = 25
db_deletion_protection = false  # set true for staging / production
